@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section {
  width: 600px;
  height: 800px;
  margin: 100px auto;
  border: 2px solid black;
  border-radius: 20px;
}

.imgRes {
  width: 100%;
  border-radius: 20px;
}

.para {
  padding: 20px;
}

.sectionPare {
  letter-spacing: 1px;
  color: rgba(141, 141, 141);
}

i {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}

.threeHeading {
  font-size: 37px;
  margin-top: 30px;
}

.loremHeading {
  margin-top: 30px;
  color: rgba(141, 141, 141);
  letter-spacing: 1px;
  font-size: 25px;
}

.btn {
  padding: 10px;
  color: blue;
  background-color: white;
  margin-left: 21px;
  font-size: 28px;
  border: 2px solid gray;
}